
.contact__link{
  text-decoration: none;
  color: $contact-detail-header;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
 
  display: flex;
  margin-right: 10px;
  align-items: center;
  transition: color $time-ms $time-function;
  .contact__link > li:last-child {
    margin-top:10px;
    


  @media screen and (mind-width:768px){
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    
  }

}
}
  
  .contact__link:hover,
  .contact_.contact__link{
    color: $webstudio-link-color;
  }
  .contact__info{
    margin-left: auto;
    @media screen and (max-width:767px){
      display:none;
    }
    

    @media screen and (mind-width:768px){
      display: block;
      
    }
    
   @media screen and (min-width:1200px){
      display: flex;
     
    }
  }

  .contact__info > li:first-child {
    margin-bottom: 10px;

    @media screen and (mind-width:768px){
      margin: 0;
      
    }
  }
  
  .contact__icon{
    fill: currentColor;
    margin-right: 10px;
    transition: color $time-ms $time-function;
    cursor: pointer;
  }
  .contact__icon:hover{
    fill: $webstudio-link-color;
  }
  
  

