.logo{
  color: $webstudio-link-color;
  text-decoration: none;
  font-family: 'Raleway',sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top:24px;
  padding-bottom:25px;
  

 @media screen and (mind-width:768px){
    display: flex;
    margin-right: 88px;
  }
  
 @media screen and (min-width:1200px){
    display: flex;
    margin-right: 97px;
  }


  }