 .menu-toggle{
   
  @media screen and (min-width:768px){
      display: none;
      
  }
  min-height: 40px;
  min-width: 40px;

  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  &:hover,
  &:focus {
  background-color: rgba(0, 0, 0, 0.1);
  }

}

.menu-container{
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 200vw;
  background-color: white;
  transform: translateX(100%);
  transition: transform $time-ms $time-function;
  z-index: 999;
  display: flex;
  flex-direction: column;
  
}


.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #b00d0d;
}
.mobile-menu{
  padding-top: 48px;
  padding-left: 40px;

  
  @media screen and (min-width:768px){
      display: none;
      
  }
  
}
.mobile-menu__item:not(:last-child){
  margin-bottom: 32px;
}
.mobile-menu__item .mobile-menu__link--active{
  color:$request-our-service-color;
}

.mobile-menu__link{
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: black;
  &:hover,
  &focus{
      color: $request-our-service-color;
  }
}
.mobile-menu-contacts{
  padding-left: 40px;
  margin-top: 150px;
  @media screen and (min-width:768px){
      display: none;
      
  }
  
}
.mobile-menu-contacts__item:first-child{
  margin-bottom: 32px;
}
.mobile-menu-contacts__link--phone{
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17; 
  letter-spacing: 0.02em;
  color:$request-our-service-color;
  text-decoration: none;
  
}
.mobile-menu-contacts__link--email{
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color:gray;
}

.mobile-menu-media{
  display: flex;
  padding-left: 40px;
  margin-top:64px;
}
.mobile-menu-media__link{
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $request-our-service-color;
  
  & > span{
      margin-right: 10px;
      margin-left: 10px;
      color: gray;
}
}
