
.nav{
 
  align-items: center;

  @media screen and (max-width: 767px){
    display:none;
  }

@media screen and (min-width:768px)and (max-width:1200px){
    display: flex;
    margin-left: 88px;
   
  }
  
 @media screen and (min-width:1200px){
    display: flex;
    margin-left: 97px;
   
  }
  
}

.nav > li:first-child,
.nav > li:nth-child(2){
margin-right: 53px;
}
.nav__item{
  cursor: pointer;
  text-decoration: none;
  color: $main-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;

  }



.nav__item:hover,
.nav__item:active,
.nav__item:focus{
  color: $webstudio-link-color;
 }


 .nav__link--active{
  color:#2196F3;
  position:relative;
  transition: color $time-ms $time-function;
}
.nav__link--active::after{
  content:'';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;


}

