
.subscribe__form--class{
  display: flex;
  }
.subscribe__form--container > p{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
  display: flex;}
.subscribe__form--container{
  margin-left: auto;
}

.email__input--element {
  width: 358px;
  height: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  transition: border $time-ms $time-function;
  outline: none;
}
.email__input--element:focus,
.email__input--element:hover{
  border: 1px solid $webstudio-link-color;
  
}
.subscribe__button{
  background-color: $webstudio-link-color;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 28px 10px 48px;
}
.subscribe__send--svg{
  fill: currentColor;
  margin-left: 30px;
}
