  $main-bg-color: #FFFFFF;
  $main-color: #212121;
  $request-our-service-color:#0a7ddb;
  $webstudio-link-color: #2196F3;
  $contact-detail-header: #757575;
  $heading-bg-color: #2F303A;
  $our-team-bg-color: #F5F4FA;
  $contact-detail-footer:rgba(255, 255, 255, 0.6);
  $footer-bg-color: #2F303A;
  $regular-custm-bg-color: #AFB1B8;
  $transparent-blue-color:#2196F3E5;
  $modal-bg:rgba(0, 0, 0, 0.2);
  $time-ms:250ms;
  $time-function:cubic-bezier(0.4, 0, 0.2, 1);