.footer {
  background-color: $footer-bg-color;
  padding: 60px 60px;
  display: flex;
  flex-wrap: wrap;
   
  @media screen and (min-width: 1200px) {
    width: 1600px;
  }
 
.footer-left-part{
  display: block;
text-align: center;
align-items: center;
justify-items: center;
 @media screen and (min-width: 786px) {
      align-content: flex-start;
    }
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

}
.footer-global-container{
    display: flex;
    justify-content: space-around;
    flex-basis: calc(100% / 1);
    flex-wrap: wrap;
  @media screen and (min-width:768px){
        flex-basis: calc(100% / 2);
    }
    @media screen and (min-width:1200px){
        flex-wrap: nowrap;
        flex-basis: calc(100% / 3);
    }
    
  }


.foot__flex{
display: flex;
flex-direction: column;
 @media screen and (min-width: 786px) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  padding-left: 76px;
  padding-right: 89px;
  justify-content: space-evenly;
  }
  @media screen and (min-width: 1200px) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  }
}

.address{
text-decoration: none;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: $main-bg-color;
font-style: normal;
justify-content: center;
text-align: center;
margin-right: auto;
  @media screen and (min-width: 786px) {
    margin-left: 0px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 27px;
    margin-right: 0px;
  }
}
  
  
  .webstudio__link{
  color: $webstudio-link-color;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  }
  
  
  .contact__detail--footer{
    font-weight: 500;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $contact-detail-footer;
    transition: color $time-ms $time-function;
  }
    
  
  .address__footer--color{
    color:#ffffff;
  }
  .address__footer--item > li{
  margin-bottom: 2px;
  }
  .address__footer--item:last-child{
  margin-bottom: 0px;
  }
  
  .contact__detail--footer:hover,
  .contact__detail--footer:active,
  .contact__detail--footer:focus{
  color: $webstudio-link-color;
  }
  
  .address-footer-item:not(:last-child){
    margin-bottom:2px;
  }
  

