
.hero__section{
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroundphoto.jpg);
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat;
  padding-top:200px;
  padding-bottom: 200px;

@media (min-device-pixel-ratio:2),
  (-webkit-min-device-pixel-ratio:2),
  (min-resolutio:192dpi),
  (min-resolution:2dppx){
    background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background@2x.jpg");
  }


  }


.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $main-bg-color;
  margin-bottom: 30px;

  
  @media screen and (min-width:1200px){
    font-size: 44px;
}
}

.hero-section__request-our-service-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: $request-our-service-color;
  color: $main-bg-color;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 20px;
  cursor: pointer;
  transition: box-shadow $time-ms $time-function, background-color $time-ms $time-function;
  &:hover,
  &:focus{box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: $request-our-service-color;
  }
}

.menu-container .menu-toggle{
  position: absolute;
  top:16px;
  right:16px;
  color:black;
}

.menu-toggle{
  max-width: 41px;
  
  margin-left: 276px;
  display: flex;
  
  @media screen and (min-width:768px){
    display:none;
  }
}
.menu-container{
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  padding:32px;
  background-color:white;
  z-index:999;

  transform: translateX(100vw);
  transition: transform 250ms ease-in-out;
  


}

.menu-toggle:hover,
.menu-toggle:focus{
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container.is-open{
  transform:translateX(0);
}
.menu-container .menu-toggle{
  position:absolute;
  top:16px;
  right:16px;
  color:#fff;
}

.menu-toggle-close{
  margin-top: 0;
  margin-left:276px;
}

.toggle-menu__toplinks{
  margin-top:48px;
}

.toggle-menu__bottomlinks{
  margin-top: 302px;

}


.mobile-menu-media__item{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $webstudio-link-color;
  
  & > span{
      margin-right: 10px;
      margin-left: 10px;
      color:#757575;
}
}

.mobile-menu-contacts{
  padding-left: 40px;
  margin-top: 150px;
  @media screen and (min-width:768px){
      display: none;
      
  }
  
}

.mobile-menu__item:not(:last-child){
  margin-bottom: 32px;
}
.mobile-menu__item .mobile-menu__link--active{
  color: $webstudio-link-color;
}


.mobile-menu__link{
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color:  #212121;
  &:hover,
  &focus{
      color:$webstudio-link-color ;
  }
}

.mobile-menu-contacts__item:first-child{
  margin-bottom: 32px;
}
.toggle-menu__sociallinks{
 display: flex;
  padding-left: 40px;
  margin-top:64px;
}

.mobile-menu-contacts__link--email{
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 32px;

}
.mobile-menu-contacts__link--phone{
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17; 
  letter-spacing: 0.02em;
  color:$webstudio-link-color ;
  text-decoration: none
}

