.button__choices{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.web__pages--button{
background-color: $our-team-bg-color;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
cursor: pointer;
border-radius: 4px;
border: 0px;
padding: 6px 27px 6px 27px;
transition: color $time-ms $time-function , background-color $time-ms $time-function;
}
.button__choices > li{
    margin-right: 8px;     
}
.button__choices:not(last-child){
margin-right:0;
}

.button__choices{
margin-bottom: 50px;
}
.web__pages--button:hover,
.web__pages--button:focus{
background-color: $webstudio-link-color;
color: $main-bg-color;
cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
}


.portfolio__section{
padding: 94px 0;
}

.portfolio__projects--title{
display: none;
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;

}

.projects__section--item{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding-left: 0px;

@media screen and (min-width:768px) {
    flex-basis: calc(100% / 2);
    justify-content: space-between;
}
@media screen and (min-width:1200px) {
    flex-basis: calc(100% / 3);
}

}



.portfolio__projects--item{
margin-bottom: 30px;
}
.portfolio__projects--item:nth-last-child(-n+3){
margin-bottom: 0px;
}

.portfolio__projects--item:hover .overlay-text,
.portfolio__projects--item:focus .overlay-text{
transform: translateY(0%);
}


.project__example{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.portfolio__project--title {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: $contact-detail-header;
}

.card__content--item{
border-left: 1px solid #EEEEEE;
border-right: 1px solid #EEEEEE;
border-bottom: 1px solid #EEEEEE;
padding: 24px 20px;
}


.projects__section--item> li:hover{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
0px 4px 4px rgba(0, 0, 0, 0.06), 
1px 4px 6px rgba(0, 0, 0, 0.16);
cursor: pointer;
}


.projects > li{
margin-bottom: 30px;
transition: color $time-ms $time-function , background-color $time-ms $time-function;
}
.projects > li:nth-child(n+7){
margin-bottom: 0px;
}

.card__overlay{
position: relative;
overflow:hidden;
}

.overlay__text--item{
font-weight: 400;
font-size:20px;
line-height:1.3;
color:white;
background-color:#2196F3E5;
position: absolute;
top:0;
left:0;
height: 100%;
display:flex;
align-items: center;
padding: 20px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card__overlay:hover .overlay__text--item{
  transform: translateY(0);
}