.companies-icons__list{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  @media screen and (min-width:480px){
      justify-content:space-between;
      
  }
  @media screen and (min-width: 768px){
      flex-basis: calc(100% / 3);
  }
  @media screen and (min-width: 1200px){
      flex-wrap: nowrap;
      flex-basis: calc(100% / 4);
  }
}

.regular__customers--title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.companies-icons__list{
  display: flex;}
  .regular-customers-icons:not(:last-child){
  margin-right: 30px;

  @media screen and (min-width: 480px){
    &:nth-child(5){
        margin-bottom: 0;
    }
}
}


.regular-customers-icons__link{
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #afb1b8;
  transition: color $time-ms $time-function, border-color $time-ms $time-function;

}

.regular-customers-icons__svg{
  fill:currentColor;
}
.regular-customers-icons__link:hover,
.regular-customers-icons__link:focus{
  color: #2196f3;
  border-color:#2196f3;
 
}
.section__regular--customer{
  padding-top: 94px;
  padding-bottom: 94px;

}
