
.what-we-do__section{
  padding-bottom: 94px;
  padding-top: 0px;
  
  display: none;

  @media screen and (min-width:1200px){
      display: flex;
  }

  }

.what-we-do__title{
  margin-bottom: 50px;
}
.what-we-do__images{
  display:flex;
  justify-content: space-between;
}

.what-we-do__title,
.our__team,
.portfolio-projects-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}


.what-we-do__images:not(:last-child){
  margin-right: 30px;
}
.what-we-do__item{
position: relative;
}

.what-we-do__overlay{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47,48,58,0.8);

}
.what-we-do-overlay__text{
font-weight: 700;
font-size: 14px;
line-height: calc(16/14);
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#FFFFFF;
margin: 27px auto;
}


